{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "rules": {
    "array-bracket-spacing": [2, "always"],
    "curly": [2, "multi-or-nest", "consistent"],
    "eqeqeq": [2, "smart"],
    "no-param-reassign": [2, { "props": false }],
    "no-return-assign": 0,
    "semi": [2, "never"]
  }
}
